definitions:
  controller.ChangeStatusInput:
    properties:
      blocked:
        type: boolean
    type: object
  controller.HealthResponse:
    properties:
      creation_date:
        type: string
      description:
        type: string
      last_response:
        type: string
    type: object
  controller.NewFollowerInput:
    properties:
      followed_id:
        type: integer
    required:
    - followed_id
    type: object
  controller.NewMessageInput:
    properties:
      message:
        type: string
      recipient_id:
        type: integer
    required:
    - message
    - recipient_id
    type: object
  controller.TrainingCompletedInput:
    properties:
      training_title:
        type: string
    required:
    - training_title
    type: object
info:
  contact: {}
  description: Notifications microservice for FiuFit's backend.
  title: Notifications Microservice API
  version: "1.0"
paths:
  /:
    get:
      description: Returns a 200 code and JSON with a message.
      responses:
        "200":
          description: OK
      summary: Check the service's status.
  /health:
    get:
      description: Returns a 200 code and JSON with the date the service started running
        and a description.
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/controller.HealthResponse'
      summary: Get the service's health status.
  /logs:
    get:
      description: Get the service's logs.
      produces:
      - text/plain
      responses:
        "200":
          description: OK
      summary: Get the service's logs.
  /new-follower:
    post:
      description: Send new follower notification to the given followed user.
      parameters:
      - description: Follower user decoded payload info
        in: header
        name: user_info
        required: true
        type: string
      - description: Followed user ID
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/controller.NewFollowerInput'
      responses:
        "201":
          description: Created
        "500":
          description: Internal Server Error
      summary: Send new follower notification to the given followed user.
  /new-message:
    post:
      description: Send new message notification to the given recipient user.
      parameters:
      - description: Sender user decoded payload info
        in: header
        name: user_info
        required: true
        type: string
      - description: Recipient user ID and message
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/controller.NewMessageInput'
      responses:
        "201":
          description: Created
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Send new message notification to the given recipient user.
  /status:
    get:
      description: Get the status of the service.
      parameters:
      - description: Decoded payload of the admin token
        in: header
        name: user_info
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/controller.ChangeStatusInput'
      summary: Get the service's blocked status.
    post:
      consumes:
      - application/json
      description: Changes the status of the service.
      parameters:
      - description: Decoded payload of the admin token
        in: header
        name: user_info
        required: true
        type: string
      - description: Blocked status of the service
        in: body
        name: rule
        required: true
        schema:
          $ref: '#/definitions/controller.ChangeStatusInput'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/controller.ChangeStatusInput'
      summary: Change the service's blocked status.
  /training-completed:
    post:
      description: Send completed training notification to the user.
      parameters:
      - description: User decoded payload info
        in: header
        name: user_info
        required: true
        type: string
      - description: Completed training title
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/controller.TrainingCompletedInput'
      responses:
        "201":
          description: Created
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Send completed training notification to the user.
swagger: "2.0"
